<div class = "container" id = "task">
  <h1> <%= @task.title %> </h1>
  <p> <%= @task.details %></p>
  <div class ="form-check">
    <% if @task.completed %>
      <label class="form-check-label" for = "scales"> <em> Done! </em> </label>
      <input type="checkbox" id="scales" name="scales"checked>
    <% else %>
      <label class="form-check-label" for = "hornes"> <em> Mark as done </em> </label>
      <input type="checkbox" id="hornes" name="hornes">
    <% end %>
  </div>
  <div>
    <%= link_to "Edit this task", edit_task_path, class: "btn btn-secondary" %>
    <%= link_to "Back to the tasks", tasks_path, class: "btn btn-primary"%>
  </div>
</div>




