@import "bootstrap/scss/bootstrap";

.container {
  text-align: center;
  border: solid 1px lightgrey;
  padding: 3px;
  box-shadow: 0px 2px 10px lightgrey;
  margin: 5px;
  width: 400px;
  margin: 20px auto;
}

#task div {
  padding: 5px;
}
ul {
  text-decoration: none;
  padding: 0px;
  width: 150px;
  margin: 10px auto;
}

li {
  display: flex;
  justify-content: space-between;
  border: solid 1px lightgrey;
  width : 150px;
  padding: 3px;
  box-shadow: 0px 2px 10px lightgrey;
  margin: 5px;
}

.btn-success {
  margin: 10px auto;
}
